body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center !important;
    padding: 20px 0;
    font-size: 2em;
    color: #333;
    position: relative;
    background-color: rgb(213, 234, 227);
}

.input-group {
    margin: 0 auto;
    width: 50%;
    max-width: 700px;
    margin-bottom: 15px;
    height: auto; /* add this line */
}

.btn-outline-secondary {
    margin-left: 15px;
}

.container .input-group {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.container .input-group p {
    margin: 0; /* remove margin */
    padding: 10px 0;
    flex-grow: 1;
    background-color: lightblue;
}

.container .input-group:hover {
    transform: scale(1.02);
}

button {
    color: black !important;
    background-color: rgba(213, 227, 230, 0.74) !important;
}

#input-item {
    background-color: rgba(100, 156, 212, 0.407);
}