@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,83,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
}

body {
  display: block;
}
h1 {
  font-family: "Rubik Vinyl", cursive;
  font-size: 4rem;
  text-align: center;
}
.sec {
  margin: 20px auto;
  width: 80%;
  /* height: 13rem; */
  border: 2px solid none;
  border-radius: 10px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
img {
  width: 30%;
  height: 225px;
  float: left;
  overflow: clip;
  margin-right: 10px;
}

img:hover {
cursor: pointer;
width: max-content;
height: 275px;
/* float: none; */

}

h3 {
  color: rgb(244,164,96);
  font-size: 32px;
}

button {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: coral;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
}

button:hover{
  width: 7rem;
  height: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-indent: 1rem;
  text-align: justify;
}